.border {
  border: 6px solid;
  border-color: #00B9FB;
  padding: 0px;
  margin: 0px;
  background-color: #46335F;
  }

.u-section-1 {
  background-image: url("images/fon1-min.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-custom-html-1 {
  min-height: 79px;
  height: auto;
  width: 391px;
  margin: 35px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 270px;
    margin-top: 37px;
    margin-bottom: 60px;
  }
}