
.border {
  border: 6px solid;
  border-color: #00B9FB;
  padding: 0px;
  margin: 0px;
  background-color: #46335F;
  }
.u-section-1 {
  background-image: url("images/fon1-min.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-custom-html-1 {
  min-height: 66px;
  width: 279px;
  margin: 37px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    height: auto;
  }
}