
.border {
  border: 6px solid;
  border-color: #00B9FB;
  padding: 0px;
  margin: 0px;
  background-color: #46335F;
  }
.u-section-1 {
 
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-custom-html-1 {
  min-height: 79px;
  width: 169px;
  margin: 93px auto 0;
}

.u-section-1 .u-custom-html-2 {
  width: 570px;
  min-height: 228px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-2 {
    width: 340px;
  }
}.nb {
color: white;
}